body {
	background-color: #99fffc;
}

#clock {
	color: #fff;
	font-size: 145px;
	background-color: #000 ;
	padding: 10px;
	width: 80%;
	margin-left: 100px;
	font-family: Helvetica;
	text-align: centre;
	margin-top: 250px;










}